<style>
.loading .game-board { display: none }
.loading .loading-screen {display: block}
.ready .loading-screen { display: none }
.complete .guess-form { display: none }
.keyboard span { cursor: pointer }
.keyboard span:hover { filter: brightness(85%); }

</style>
<div class="container  mt-3 loading" data-controller="games keyboard cookie" data-games-loading-class="loading" data-games-ready-class="ready" data-games-complete-class="complete" data-action="games:guessMade->keyboard#updateKeyboard games:guessMade->cookie#updateCookies keyboard:keyStruck->games#appendLetter keyboard:enterStruck->games#guess keyboard:deleteStruck->games#removeLetter cookie:getExistingGame->games#useExistingGame cookie:getExistingGame->keyboard#updateKeyboard" >
    <div class="game-board">
        <div class="row justify-content-center align-items-center">
            <div class="col-auto guess-form">
                <%= text_field_tag(:attempt, '', maxlength: 6, disabled: true, class: 'form-control form-control-lg text-center', 'data-games-target' => "attempt" ) %>
            </div>
            <div class="col-auto">
                <h2 class="text-center mb-0"><span data-games-target="attemptsLeft"></span> guesses left</h2>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
                <span class="d-none alert alert-danger mb-0" role="alert" data-games-target="error">Sorry, this is not a real 6-letter word.</span>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
                <div class="table-responsive" data-games-target="guesses"></div>
            </div>
        </div>
        <div class="text-center keyboard" data-keyboard-target="keyboard"></div>
    </div>
    <div class="loading-screen">
        LOADING!
    </div>
</div>